/* ESPAÇAMENTO ENTRE A BORDA DA PÁGINA */
form{
    padding: 30px;
}
 
/* IMAGEM DE FUNDO */
body{
    
    display: flex;
    height: 100vh;
    align-items: center;
    place-content: center;
}
 
/* BOTÃO ENTRAR */
.btn-primary:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.2) translateY(-5px);
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(238, 101, 243) ;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 3px 10px 0 rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
 
.btn-primary {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 3px 3px 8px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(0, 0, 0);
}
 
/* ZOOM NOS CAMPOS DO FORM */
input {
    border-radius: 0.2rem;
    border: none 2px;
    border-color: black;
    outline: none;
    width: 10rem;
    
}
input:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.02) translateY(-3px);
}
 
/* COR DA SELEÇÃO DOS CAMPOS DE SELEÇÃO */
option:nth-child(1):hover{
    background-color:rgb(238, 101, 243) ;
    color: white;
}
option:nth-child(2):hover{
    background-color:rgb(238, 101, 243) ;
    color: white;
}
option:nth-child(3):hover{
    background-color: rgb(238, 101, 243) ;
    color: white;
}
option:checked{
    background-color: rgb(238, 101, 243) ;
    color: white;
}
/* option:nth-child(4):hover{
    background-color: rgb(238, 101, 243) ;
    color: white;
} */

form {
    width: 90vh;
    height: 50vh;
    background-color: bisque;
}
.column1 {

  display: flex;
  width: 520px;
  justify-content: space-between;


}

.column1 input {
    width: 5rem;
    
}

.column2 {
    margin-top: 20px;
    display: flex;
    width: 555px;
    justify-content: space-between;
  
  
  }
.column2 input {
    width: 5rem;
    
  
}
  



#logradouro{
    width: 10rem;
}

#numero {
    width: 8rem;
    
}
#bairro{
    width: 10rem;
}

#complemento {
    width: 10rem;
}

.col-5 {
    margin-top: 20px;
}

#uf {
    width: 10rem;
}
#localidade {
    width: 8rem;
}